.inventory-item {
  background-color: #d4f7ed;
  padding: 25px;
  border-style: solid;
  border-radius: 25px;
  border-width: 1px;
  border-color: #454545
}

.inventory {
    background-color: #454545;
    padding: 25px;
    border-radius: 25px;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    background-color: rgb(95, 237, 99); /* Green */
    border: none;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}